footer{
  background-color: #7777773d;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3{
  font-size: 23px;
  font-weight: 700;
  color: #164D59;
}
.footer_tittle{
  padding-left: 110px;
}
.footer_endereco{
  width: 50%;
  padding-left: 70px;
}
.footer_numero{
  padding-left: 70px;
  width: 50%;
 
}
.footer_telText{
  font-size: 18px;
  font-weight: 500;
color: #164D59;
text-align: start;
}

.footer_endText{
  font-size: 18px;
  font-weight: 500;
  width: 60%;
  color: #164D59;
  text-align: start;
}

.footer_logo{
  width: 400px;
}


.footer_copy{
  font-weight: 700;
  text-align: center;
  background-color: #7777773d;
  color: #164D59;
}

@media only screen and (max-width: 1300px){
  .footer_endereco{
    display: none;
    
  }
  .footer_numero{
    display: none;
    
  }
  .footer_logo{
    width: 450px;
  }
 
}
@media only screen and (max-width: 600px){
  .footer_logo{
    width: 300px;
  }
  footer{
    display: none;
  }
}