.formulario_section {
  display: flex;
  align-items: center;
  margin-top: 200px;
  border: solid 1px #164d59;
  height: 900px;
}

.formulario_contato {
  width: 46%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  height: 600px;
}
.endereco_formulario {
  text-align: center;
  font-size: 22px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.telefone_formulario {
  text-align: center;
  font-size: 22px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.endereco_titulo {
  color: #164d59;
  margin-top: 20px;
  font-weight: 700;
}
.telefone_titulo {
  color: #164d59;
  margin-top: 20px;
  font-weight: 700;
}

.endereco_texto {
  font-weight: 500;
}

.telefone_texto {
  font-weight: 500;
}
i {
  margin-top: 40px;
  color: #164d59;
  font-size: 40px;
}
