.sobre_titulo{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #164D59;
  font-weight: 800;
  margin-top: 150px;
  
}
.sobre_container{
  width: 60%;
  
  margin-left: auto;
  margin-right: auto;
}

.sobre_container_texto{
  margin-top: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}