.zap{
  width: 70px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 10px;
   opacity: 90%;
   transition: .2s ease-in-out;
}

.zap:hover{
  transform: scale(1.05);
  opacity: 100%;
}

@media only screen and (max-width: 500px){
  .zap{
    width: 50px;
  }
}

