.localizacao{
  padding: 6px;
}
.imageLoc{
  width: 100px;
  margin: 20px
}

.locText{
  font-size: 35px;
  text-align: center;
}

.localizacao p{
  margin-top: 30px;
  margin-bottom: 50px;

}
.localizacao a{
  text-decoration: none;
  font-size: 25px;
  padding: 7px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.localizacao a:hover{
transform: scale(1.05);
background-color: gray;
}