nav{
  background-color: #243960;
  padding: 10px;
  width: 100%;
  height: 50px;
  
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
li{
  margin-top: 11px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 600;
  transition: .3s ease-in-out;
}
li:hover{
  color: #5b86d5;
  font-size: 22px;
  

}