.container{
  padding: 10px;
  display: flex;
  background-color: #FCFFF5;
  justify-content: space-evenly;
}
.container h1{
  margin-top: 14px;
}
.container div.tel{
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  color: green;
  
}
.container .telefones{ 
  margin-bottom: 8px;
}
.container div.atendimento{
  display: flex;
}
.container img{
  width: 75px;
  height: 75px;
}
.container .vintequatro{
  margin-top: 17px;
  color: green;
}
.container p.textoAtendimento{
  font-size: 24px;
  margin-bottom: 0px;
}
.container p{
  margin-top: 0px;
}

#logo{
  width: 200px;
  
}